.nav-container-opacity {
    opacity: 0.4;
    /* Adjust the opacity value as needed */
}

.path-design {
    text-decoration: underline var(--mainTc);
    text-underline-offset: .2rem;
    text-decoration-thickness: .11rem;
    text-decoration-style: double;
    color: var(--mainTc)
}

.nav-list {
    display: flex;
    gap: 30px;
}

.nav-list a:hover {
    transform: scale(1.2);
}

.nav-menu {
    font-size: var(--font-heading-large);
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 70px;
    padding: 10px;
    width: 50%;
    height: 100vh;
    z-index: 1000;
    border: 3px solid var(--mainTc);
    background-color: var(--mainBc);
}

/* BUTTON */

.nav-buttons {
    display: flex;
    gap: 20px;
}

.nav-button,
.nav-button2 {
    width: 100%;
    height: 2.2rem;
    padding: 0 20px;
    border: 2px solid var(--mainTc);
}

.nav-button {
    background: var(--mainTc);
    color: white;
}

.nav-button2 {
    background: var(--mainBc);
    color: var(--mainTc);
}

.nav-button:hover {
    color: var(--mainTc);
}

.nav-button2:hover {
    color: var(--mainBc);
}

.nav-button::before {
    background: var(--mainBc);
}

.nav-button2::before {
    background: var(--mainTc);
}

@media (max-width:768px) {
    .nav-list {
        flex-direction: column;
    }

    .nav-buttons {
        margin-top: 20px;
    }
}

/* -------------------------HERO PAGE------------------------- */
.hero-container,
.hero-content-container {
    flex-direction: column;
    text-align: center;
}

.hero-content-container {
    width: 50%;
    gap: 30px;
}

.hero-container img {
    width: 100%;
    margin: 0 auto;
}

.hero-content-container h1>span {
    color: var(--mainTc);
}

@media (max-width:768px) {
    .hero-content-container {
        width: 85%;
        gap: 10px;
    }
}