:root {
    --mainBc: white;
    --mainTc: #651FFF;
    --heading-text: 56px;
    --sub-heading-text: 48px;
    --sub-sub-heading-text: 42px;
    --heading-paragraph-text: 20px;
    --base-text: 16px;
    --medium-text: 18px;
    --large-text: 20px;
    --extra-large-text: 36px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

nav {
    padding: 40px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-space {
    margin-top: 100px;
}

/* BUTTON */
.button {
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    background-size: 400%;
    cursor: pointer;
    font-size: var(--font-small);
}


.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 6;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    transition: all 0.475s;
}
